@model AR.ARNews.User
@{
    ViewData["Title"] = "Admin";
    List<string> kontaktFiles = Echo.Controllers.HomeController.GetKontaktFiles();
    if (kontaktFiles != null)
    {
        kontaktFiles = kontaktFiles.OrderByDescending(x => x).ToList();
    }

    List<string> top500Files = Echo.Controllers.HomeController.GetTop500Files();
    if (top500Files != null)
    {
        top500Files = top500Files.OrderByDescending(x => x).ToList();
    }


    List<string> aboFiles = Echo.Controllers.HomeController.GetAboFiles();
    if (aboFiles != null)
    {
        aboFiles = aboFiles.OrderByDescending(x => x).ToList();
    }


}

<style>
    #AdminPanel {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }

        #AdminPanel button {
            background-color: #31708f;
            border: 1px solid;
            color: white;
            padding: 5px 20px 5px 20px;
            width: 100%;
        }

            #AdminPanel button:hover {
                background-color: #6fa1b9;
            }

</style>

<div class="InnerWrapper">
    <div id="AdminPanel">
        <div class="row">
            <div class="col-md-2">
                
                @if (true == false)
                {
                    <button onclick="_wait(); window.location.href='/User/List'">Users</button>
                }
                <br />
                <br />
                <button onclick="_wait(); window.location.href='/ControlPanel/Admin?modul=Stories'">Stories</button>
                <button onclick="_wait(); window.location.href='/ControlPanel/Admin?modul=CM'">Newsletter</button>
                <button onclick="_wait(); window.location.href='/ControlPanel/Employees'">Employees</button>
                <br />
                <br />
                <button onclick="_wait(); window.location.href='/ControlPanel/Admin?modul=Statistics'">Statistics</button>
                <button onclick="_wait(); window.location.href='/ControlPanel/Admin?modul=ad'">Manage ads</button>
                <br />
                <br />
                <button onclick="_wait(); window.location.href='/ControlPanel/Admin?modul=Emails'">DB - Emails</button>
                <button onclick="_wait(); window.location.href='/ControlPanel/GroupMng'">Story groups</button>
                <br />
                <br />
                <button onclick="_wait(); window.location.href='/ControlPanel/Logoff'">Logout</button>
            </div>
            <div class="col-md-10">
                <div>
                    <h2>angewandte Kontakte</h2>
                    @if (kontaktFiles != null)
                    {
                        foreach (string t in kontaktFiles)
                        {
                            string[] m = t.Split('\\');
                            string s = m[1];
                            <a href="/Home/Kontakt/@s" style="display: block;">@string.Format("{0}.{1}.{2} / {3}", s.Substring(6, 2), s.Substring(4, 2), s.Substring(0, 4), s.Substring(8, s.Length - 8))</a>
                        }
                    }
                </div>
                <div>
                    <h2>angewandte TOP500</h2>
                    @if (top500Files != null)
                    {
                        foreach (string t in top500Files)
                        {
                            string[] m = t.Split('\\');
                            string s = m[1];
                            <a href="/Home/Top500Details/@s" style="display: block;">@string.Format("{0}.{1}.{2} / {3}", s.Substring(6, 2), s.Substring(4, 2), s.Substring(0, 4), s.Substring(8, s.Length - 8))</a>
                        }
                    }
                </div>
                <div>
                    <h2>angewandte ABO</h2>
                    @if (aboFiles != null)
                    {
                        foreach (string t in aboFiles)
                        {
                            string[] m = t.Split('\\');
                            string s = m[1];
                            <a href="/Home/ABODetails/@s" style="display: block;">@string.Format("{0}.{1}.{2} / {3}", s.Substring(6, 2), s.Substring(4, 2), s.Substring(0, 4), s.Substring(8, s.Length - 8))</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
</div>