
@{
    ViewData["Title"] = "AdvertiseHere";
}

<div class="InnerWrapper" style="font-family: Raleway">

    <img src="~/images/adv.jpg" style="width: 100%; margin-top: 50px" />
    <br />
    <br />
    <br />
    <h2>Advertising on our website:</h2>
    <table style="width: 100%; font-size: large">
        <tr>
            <th>Dimension</th>
            <th>Duration</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>250 x 250</td>
            <td>1 month</td>
            <td>50 EUR</td>
        </tr>
        <tr>
            <td>250 x 250</td>
            <td>3 month</td>
            <td>125 EUR</td>
        </tr>
        <tr style="border-bottom: 2px solid black">
            <td>250 x 250</td>
            <td>6 month</td>
            <td>200 EUR</td>
        </tr>

        <tr>
            <td>250 x 500</td>
            <td>1 month</td>
            <td>90 EUR</td>
        </tr>
        <tr>
            <td>250 x 500</td>
            <td>3 month</td>
            <td>225 EUR</td>
        </tr>
        <tr style="border-bottom: 2px solid black">
            <td>250 x 500</td>
            <td>6 month</td>
            <td>360 EUR</td>
        </tr>

        <tr>
            <td>837 x 250</td>
            <td>1 month</td>
            <td>100 EUR</td>
        </tr>
        <tr>
            <td>837 x 250</td>
            <td>3 month</td>
            <td>250 EUR</td>
        </tr>
        <tr style="border-bottom: 2px solid black">
            <td>837 x 250</td>
            <td>6 month</td>
            <td>400 EUR</td>
        </tr>
    </table>

    <br />
    <br />
    <br />
    <h2>Contact us on mail: <a href="mailto:advertisehere@echosalzburg.at">advertisehere@echosalzburg.at</a> for more info</h2>
    <br />
</div>

