
@{
    ViewData["Title"] = "MediaData";
}


<script>
    $(function () {
        $("#MenuMediaData").addClass("active");
    });
</script>

<style>
    #MediaData {
        width: 100%;
        font-family: Raleway-Regular;
        display: inline-block;
        padding-bottom: 50px;
    }

    #DownloadButton {
        margin-top: 20px;
        border: none;
        background-color: transparent;
        font-weight: bolder;
        font-family: Raleway-Bold;
    }

        #DownloadButton:hover {
            color: red;
        }

        #DownloadButton img {
            border: 1px solid lightgray;
            margin-bottom: 20px;
        }
</style>


<div class="InnerWrapper">
    <div id="MediaData" style="margin-top: 20px">
        <div class="col-lg-9">
            <h2 style="color: #9a9a9a; border-left: 5px #e1000f solid;
        padding-left: 20px; padding-top: 2px;
        padding-bottom: 2px; font-family: Montserrat-Bold">
                Preislisten und <span style="color: rgb(255, 0, 5)">Mediadaten</span>
            </h2>

            <div class="editable" onclick="window.location.href='/ControlPanel/EditNonFixedText?ID=21'">@Html.Raw(AR.ARNews.NonFixedText.Get(21, null).Text)</div>
            <button id="DownloadButton">
                <img src="~/images/mediadatenPricelistImage.jpg" onclick="window.open('/PDF/PL_ECHO_2020.pdf')" />
                <br />
                <a href="/PDF/PL_ECHO_2020.pdf" download>Download <br />Mediadaten <br />Salzburg</a>

            </button><button id="DownloadButton">
                <img src="~/images/pl.jpg" onclick="window.open('/Home/Pricelist')" />
                <br />
            </button>

        </div>
        <div class="col-lg-3">
            <partial name="pShortlist" />
        </div>
    </div>
</div>