
@{
    ViewData["Title"] = "Pricelist";
}

<div class="InnerWrapper">
    <img src="~/images/adv.jpg" />
    <br />
    <br />
    <br />
    <div style="text-align: center; font-weight: bolder; font-family: Raleway">
        <h2>250px x 250px = 25 EUR /Monte</h2>
        <h2>250px x 500px = 50 EUR /Monte</h2>
        <h2>837px x 250px = 100 EUR /Monte</h2>
        <br />
        <br />
        <h3>
            Kontakt: verwaltung@echosalzburg.at
        </h3>
    </div>
</div>