@{
    ViewData["Title"] = "Top500";
}

<script>
    $(function () {
        $("#MenuTop500").addClass("active");
    });
</script>
<style>

    #ContactForm {
        max-width: 400px;
        margin: auto;
        background-color: #efefef;
        text-align: center;
        position: relative;
        padding-top: 20px;
        border-top: 4px solid #e1000f;
        border-bottom: 4px solid #e1000f;
        margin-bottom: 50px;
    }

        #ContactForm input, #ContactForm textarea, #ContactForm select {
            width: 80%;
            border: 1px solid lightgray;
            border-radius: 3px;
            margin-top: 3px;
            margin-bottom: 3px;
            font-size: 13px;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            font-family: Raleway-Regular;
        }

        #ContactForm button {
            background-color: #e1000f;
            border: none;
            color: white;
            font-family: Raleway-Bold;
            font-size: 12px;
            border-radius: 3px;
            padding: 10px 25px 10px 25px;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        #ContactForm select {
            background-color: lightyellow;
        }

            #ContactForm select:hover {
                cursor: pointer;
            }


    .DownloadTop500 {
        text-align: center;
        font-family: Raleway-Bold;
        font-size: 18px;
        margin-top: 50px;
    }

        .DownloadTop500:hover {
            cursor: pointer;
            color: #e1000f;
        }

    .NI5button {
        background-color: #e1000f;
        color: white;
        font-family: Raleway-Bold;
        border: none;
        border-radius: 5px;
        padding: 5px 35px 5px 35px;
        font-size: xx-large;
        margin-bottom: 50px;
    }

        .NI5button:hover {
            cursor: pointer;
            background-color: white;
            color: #e1000f;
        }
</style>

<div class="InnerWrapper" style="padding: 20px">
    <h2 style="color: #9a9a9a; border-left: 5px red solid;
        padding-left: 20px; padding-top: 2px;
        padding-bottom: 2px; font-family: Montserrat-Bold;
        margin-bottom: 50px">
        Top <span style="color: #e1000f">500</span>
    </h2>
    @if (Networking.isAdmin(Context.Request))
    {
        <style>
            .editable:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        </style>

        <div style="font-family: Raleway-Regular; margin-bottom: 60px; color: #2f2c2c" class="editable" onclick="window.location.href='/ControlPanel/EditNonFixedText?ID=4'">
            @Html.Raw(AR.ARNews.NonFixedText.Get(4).Text)
        </div>
    }
    else
    {
        <p style="font-family: Raleway-Regular; margin-bottom: 60px; color: #2f2c2c">
            @Html.Raw(AR.ARNews.NonFixedText.Get(4).Text)
        </p>
    }
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link href="~/FlipBook/src/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
    <script src="~/FlipBook/src/jquery.easing.1.3.js"></script>
    <script src="~/FlipBook/src/jquery.booklet.latest.min.js"></script>

    <div id="MyBook">
        @inject IHostingEnvironment HostingEnvironment
        @{
            string root = HostingEnvironment.WebRootPath;

            string filePath = root + "/PDF/Top500";
            DirectoryInfo d = new DirectoryInfo(filePath);
            FileInfo[] fi = d.GetFiles("*.jpg");

            foreach (FileInfo f in fi)
            {
                <div style="width: 100%; height: 100%">
                    <img src="@("/PDF/Top500" + "/" + f.Name)" style="width: 100%; height: 100%" />
                </div>
            }
        }
    </div>
    <style>
        #Download:hover {
            color: red !important;
            cursor: pointer;
        }
    </style>
    <h3 style="color: #9a9a9a; border-left: 5px red solid;
        padding-left: 20px; padding-top: 2px;
        padding-bottom: 2px; font-family: Montserrat-Bold;
        margin-bottom: 50px" id="Download" onclick="window.open('/PDF/Top500/Top500 2018 (1).pdf')">
        PDF ( Full screen )
    </h3>
    <script>
        $(function () {
            //single book
            $('#MyBook').booklet({
                easing: "easeInOutExpo",
                shadows: false,
                pageSelector: true,
                width: "100%",
                height: "800px"
            });
        });
    </script>

    <div class="row" style="margin-bottom: 30px;width: 100%;/* background-color: whitesmoke; *//* text-align: center */margin-right: 0 !important;">
        <div class="col-md-9" style="
            border: 1px solid #d7d7d7;
            margin-top: 4px;
            border-radius: 15px;
            padding: 10px;
            font-family: Raleway-Regular !important;
            font-weight: bolder;
            font-size: 17px;
        ">
            <b>Sie gehören zu den TOP 500 Unternehmen in Salzburg?</b><br />
            Dann registrieren Sie sich rasch und einfach bei uns und seien Sie Teil der nächsten Ausgabe der erfolgreichsten Salzburger Unternehmen.
        </div>
        <div class="col-md-3">
            <button style="
                font-family: Raleway-Bold;
                width: 50%;
                margin-top: 23px"
                    onclick="_wait(); window.location.href='/Home/TOP500Form'">
                Kontaktieren Sie uns
            </button>
        </div>
    </div>
    <partial name="pADWide" />
</div>

