@{
    ViewData["Title"] = "Developer";
}

<div class="InnerWrapper" style="font-family: 'Courier New'; padding-top: 20px">
    <h2 style="text-align: center">ABBA Developer info</h2>

    <div>
        <h3 style="text-align: center">Systems info</h3>
        <br />
        <h3 style="font-weight: bolder">
            Name: ABBA Newspaper<br />
            Version: @AR.ARNews.System.GetFullVersion()
        </h3>
    </div>
</div>